In [1]:
!pip install datasets --upgrade --quiet

WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the '/home/ec2-user/anaconda3/envs/pytorch_p38/bin/python -m pip install --upgrade pip' command.

In [2]:
from datasets import load_dataset

dataset = load_dataset("AlekseyDorkin/extended_tweet_emojis")

Using custom data configuration AlekseyDorkin--extended_tweet_emojis-4eb99ce06d465da0

Downloading and preparing dataset parquet/AlekseyDorkin--extended_tweet_emojis to /home/ec2-user/.cache/huggingface/datasets/AlekseyDorkin___parquet/AlekseyDorkin--extended_tweet_emojis-4eb99ce06d465da0/0.0.0/0b6d5799bb726b24ad7fc7be720c170d8e497f575d02d47537de9a5bac074901...

Downloading data files:   0%|          | 0/2 [00:00<?, ?it/s]

Downloading data:   0%|          | 0.00/2.71M [00:00<?, ?B/s]

Downloading data:   0%|          | 0.00/293k [00:00<?, ?B/s]

Extracting data files:   0%|          | 0/2 [00:00<?, ?it/s]

Dataset parquet downloaded and prepared to /home/ec2-user/.cache/huggingface/datasets/AlekseyDorkin___parquet/AlekseyDorkin--extended_tweet_emojis-4eb99ce06d465da0/0.0.0/0b6d5799bb726b24ad7fc7be720c170d8e497f575d02d47537de9a5bac074901. Subsequent calls will reuse this data.

  0%|          | 0/2 [00:00<?, ?it/s]

In [17]:
dataset

DatasetDict({
    train: Dataset({
        features: ['text', 'label'],
        num_rows: 47436
    })
    validation: Dataset({
        features: ['text', 'label'],
        num_rows: 5258
    })
})

In [20]:
import pandas as pd
df_pandas = pd.DataFrame(dataset["train"]).append(pd.DataFrame(dataset["validation"]))
df_pandas

                                                   text  label
0     Sunday afternoon walking through Venice in the...     12
1     Time for some BBQ and whiskey libations. Chomp...     19
2     Love love love all these people ️ ️ ️ #friends...      0
3                                   ️ ️ ️ ️ @ Toys"R"Us      0
4     Man these are the funniest kids ever!! That fa...      2
...                                                 ...    ...
5253                       3 and a half hour more  #EXO     25
5254  Everything I order online just comes looking l...     25
5255  @user @user @user Would you like to clean my c...     14
5256  @user @user @user Would you like to clean my c...      5
5257                          Shit getting me irritated     29

[52694 rows x 2 columns]

In [22]:
df_pandas.shape

(52694, 2)

In [23]:
df_pandas.sort_values("text")

                                                    text  label
2149                              ! @ Time Square in Nyc     13
10669  ! Merry Christmas ! (@ St. Bernardine of Siena...     17
17183                       !! (at @user in Anaheim, CA)      1
19403               !! ON GOD THOUGH!! @ City of Compton      2
41418  !! TONIGHT 11/30/16 % OUR WEDDING !! "Little W...     15
...                                                  ...    ...
5841                      ️️Oksana @ Blue Mountain State      0
13403  ️️city by the bay #sanfrancisco #California @ ...      0
39302  ！#lasvegas #vegas #night @ Stratosphere Top Of...      1
1935   ｐｌｕｎｇｉｎｇ #wiw link for shirt in bio _wanderwit...     18
1153   ｓｅａｓｏｎｓｇｒｅｅｔｉｎｇｓ @ Farmers Branch Historical Park     17

[52694 rows x 2 columns]

In [11]:
dataset["train"][1:6]

{'text': ["Time for some BBQ and whiskey libations. Chomp, belch, chomp! (@ Lucille's Smokehouse Bar-B-Que)",
  'Love love love all these people ️ ️ ️ #friends #bff #celebrate #blessed #sundayfunday @ San…',
  '️ ️ ️ ️ @ Toys"R"Us',
  'Man these are the funniest kids ever!! That face! #HappyBirthdayBubb @ FLIPnOUT Xtreme',
  '#sandiego @ San Diego, California'],
 'label': [19, 0, 0, 2, 11]}